{% extends "filmak/oinarria.html" %}

{% block edukia %}

<h2><i>{{ film.izenburua }}</i></h2>

<h4>Bozkaztaileak</h4>

{% if bozkatzaile_list %}
	<ul>
	{% for bzk in bozkatzaile_list %}
		<li>{{ bzk|title }}</li>
	{% endfor %}
	</ul>
{% else %}
	<p>Ez dago bozkatzailerik filma honetan.</p>

{% endif %}
{% endblock %}
