{% extends "filmak/oinarria.html" %}

{% block edukia %}

<h2>Filmen gunea</h2>
{% if film_list %}
	<table class="film-table">
		<tr>
			<th>Bozkatu</th><th>Izenburua</th><th>Zuzendaria</th><th>Urtea</th><th>Generoa</th><th>Sinopsia</th><th>Bozkak</th>
		</tr>
		{% for film in film_list %}
			<tr>
				<td><a href="{{ film.id }}/vote/"><button>Bozkatu</button></a>
				<td>{{ film.izenburua }}</td>
                                <td>{{ film.zuzendaria }}</td>
                                <td>{{ film.urtea }}</td>
                                <td>{{ film.generoa }}</td>
                                <td>{{ film.sinopsia }}</td>
                                <td><a href="{{ film.id }}">{{ film.bozkak }}</a></td>
			</tr>
		{% endfor %}
	</table>
	<div class="paginator">
		<span class="step-links">
			{% if film_list.has_previous %}
				<a href="?page={{ film_list.previous_page_number }}"><button>aurrekoa</button></a>
			{% endif %}

			<span class="current">
				{{ film_list.number }}/{{ film_list.paginator.num_pages }}
			</span>

			{% if film_list.has_next %}
                                <a href="?page={{ film_list.next_page_number }}"><button>hurrengoa</button></a>
                        {% endif %}
		</span>
	</div>
{% else %}

{% endif %}

{% endblock %}
