<!DOCTYPE hmlt>
<html>
<head>
	<title>Filmen proiektua</title>
	
	{% load static %}
	<link rel="stylesheet" href="{% static "style.css" %}" />
	<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet"> 
	
</head>
<body>
<table class="full-table"><tr>
<td class="td1">
<h1>Filmen proiektua</h1>
{% block sidebar %}
	<b>MENUA</b>
	<hr>
	{% if request.get_full_path != '/filmak/' %}
		<a href="/filmak/"><div class="nav">Hasiera</div></a>
	{% endif %}

	{% if not erabiltzailea.is_authenticated %}
		<a href="/filmak/signup"><div class="nav">Erregistratu</div></a>
		<a href="/filmak/signup2"><div class="nav">Erregistratu (2)</div></a>
		<a href="/filmak/login"><div class="nav">Sartu</div></a>
		<a href="/filmak/login2"><div class="nav">Sartu (2)</div></a>
	
	{% else %}
		<i>Kaixo, {{ erabiltzailea|title }}! </i>
		<a href="/filmak/films"><div class="nav">Filmen gunea</div></a>
		<br>
	<b>EKINTZAK</b>
	<hr>
		<a href="/filmak/logout"><button class="btn">Irten</button></a>		
		<a href="/filmak/logout2"><button class="btn">Irten (2)</button></a>
	{% endif %}		
{% endblock %}
</td>
<td class="td2">
	<div class="content">
		{% block edukia %}{% endblock %}
	</div>
</td>
</tr></table>
</body>
</html>
