{% extends "filmak/oinarria.html" %}

{% block edukia %}

<h2>Erregistratu</h2>
<h3 style="color:red">{{ err }}</h3>
<form method="POST">
	{% csrf_token %}
	<table>
		<tr>
			<td>Erabiltzaile-izena</td>
			<td><input type="text" id="erab_izen" name="erab_izen" maxlenght="30"/>
		</tr>
		<tr>
                        <td>Pasahitza</td>
                        <td><input type="password" id="erab_pass1" name="erab_pass1"/>
                </tr>
		<tr>
                        <td>Pasahitza berretsi</td>
                        <td><input type="password" id="erab_pass2" name="erab_pass2"/>
                </tr>
		<tr><td><input type="submit" value="Bidali eskaera"/></td></tr>
	</table>
</form>
{% endblock %}
