{% extends "filmak/oinarria.html" %}

{% block edukia %}

<h2><i>{{ film.izenburua }}</i></h2>
<h3>{{ msg }}</h3>
<br>
<button><a href="/filmak/films/" style="text-decoration: none; color:black;">Itzuli atzera</a></button>
{% endblock %}
