body{
	font-family: 'Bitter', serif;
	margin: 0px;
}

hr{
	border-color: white;
	border-style: solid;
}

.nav{
	padding: 10px;
}

.nav:hover{
	background-color: #dd3525;
}

.active{
	background-color: #303030;
}

.td1 a{
	text-decoration: none;
}

.film-table{
	border-collapse: collapse;
}

.film-table  td ,th{
	border: 1px solid #ddd;
	padding: 10px;
}

.film-table tr:hover{
	background-color: #f5f5f5;
}

.film-table th{
	background-color: #e74c3c;
	color: white;
}

.full-table{
	width: 100%;
	height: 100%;
}

.td1{
	width: 30%;
	background-color: #E74C3C;
	color: white;
        margin-left: 10px;
	vertical-align: top;
	padding: 10px;
}

.td1 a{
	color: white;
}

button{
        font-family: 'Bitter', serif;
	border-radius: 8px;
	border: none;
	padding: 5px;
	margin: 3px;
}

button:hover{
	background-color: #E7E7E7;
	cursor: pointer;
}

.td1 button{
	background-color: white;
	width: 100%;
}

.td2{
	vertical-align: top;
	background-color: #303030;
}

.td2 button{
	background-color:  white;
	border: 2px solid #e74c3c;
}

.paginator{
	margin-top: 5px;
	text-align: center;
}

input[type=text], input[type=password]{
	border: none;
	border-bottom: 2px solid #303030;
	font-family: 'Bitter', Serif;
}

@keyframes toGreen{
	to{
		border-bottom: 2px solid green;
	}
}

input[type=text]:focus, input[type=password]:focus {
	animation-name: toGreen;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	
}

.step-links{
	
}

.current{
	margin-left: 10px;
	margin-right: 10px;
}

.content{
	padding-left: 10px;
        padding-top: 10px;
	background-color: white;
	margin-left: 50px;
	min-width: 400px;
	max-width: 800px;
	height: 100%;
}
